<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <h5>User Tracking</h5>
        </div>
        <div class="card-body">
          <div class="row">
          
            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-6">

              <div class="form-group">
                  <span class="pr-2">Select Rider :</span>
                <select [(ngModel)]="userId" class="custom-select" id="exampleFormControlSelect9">
                  <option [selected] ="selected" disabled >{{selected}}</option>
                  <option *ngFor="let role of users" [ngValue]="role">{{role.firstName}}</option>

                </select>
              </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-6 pt-1">
              <div class="form-group">

                <input type="text" [(ngModel)]="date" placeholder="Please Select Date" class="form-control" bsDatepicker>
              </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-6 pt-1">
              <button class="btn btn-primary" (click)="getTrack();isSearchedClicked = true;">Search</button>

            </div>
          </div>
          <div class="map-js-height">
            <agm-map [latitude]="lat_m2" [longitude]="lng_m2" [zoom]="zoom_m2" [disableDefaultUI]="false"
              [zoomControl]="false">
              <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="getLocationOnMarker(m)" [latitude]="m.lat" [longitude]="m.lng"
                [label]="m.label" [draggable]="false">
                <agm-info-window>
                  Location: {{location}} <br>
                  Type: {{type}} <br>
                  Title: {{markerTitle}} <br>
                  <span *ngIf="markerDesc != ''" >Description: {{markerDesc}}</span>
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>