

<div class="container-fluid pt-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>View Users</h5>
                </div>
                <div class="card-body server-datatable selection-datatable">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-sm-6 p-3 text-center ">
                            <div class="form-group">
                              
                                <select class="custom-select"  id="exampleFormControlSelect9"  (change)='onOptionsSelected($event.target.value)'>
                                    <option selected disabled >Please select a role</option>
                                    <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
                                   
                                </select>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6 p-3 text-left pt-2">
                              <button class="btn btn-primary" (click)="ShowUsers()" >Search</button>
                    
                          </div>
                       </div>
                    <div class="table-responsive">
                        <ng2-smart-table [settings]="settings" (editConfirm)="onSaveConfirm($event)" [source]="data"></ng2-smart-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>