

<div class="container-fluid pt-4">

    <!-- <h1>Working In Progress</h1> -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Users</h5>
                </div>
                <div class="card-body server-datatable selection-datatable">

                       <div class="table-responsive">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">First Name</th>
                                      <th scope="col">Last Name</th>
                                      <th scope="col">Address</th>
                                      <th scope="col">Phone</th>
                                      <th scope="col">Email</th>
                                      
                                      <th scope="col">login Allow </th>
                                     
                                  </tr>
                              </thead>
                              <tbody *ngFor="let row of user; index as i"   >
                                  <tr >
                                      <th scope="row">{{i + 1}}</th>
                                      <td>{{row.firstName}}</td>
                                      <td>{{row.lastName}}</td>
                                      <td>{{row.address}}</td>
                                      <td>{{row.phone}}</td>
                                      <td>{{row.email}}</td>
                                      <td>
                                        <ui-switch  [checked]="row.isAllowed == 1? true : false" (change)="onChange($event,row.id)"></ui-switch>
  
                                      </td>
                                     
                                 
                              </tbody>
                          </table>
                      </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <!-- Container for sidebar(s) + page content -->
  