<div class="container-fluid p-0">
        <!-- login page start-->
        <div class="authentication-main">
          <div class="row">
            <div class="col-md-12">
              <div class="auth-innerright">
                <div class="authentication-box">
                  <div class="text-center"><img src="assets/images/logo/logo.png" alt=""></div>
                  <div class="card mt-4">
                    <div class="card-body">
                      <div class="text-center">
                        <h4>Congratulation!!</h4>
                        <i class="fa fa-envelope" style="font-size: 40px;"></i>
                        <h6>Your Account has been created. Please check your email for verification </h6>
                        <a routerLink="/login">Go To Login</a>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- login page end-->
      </div>