<div class="container-fluid">
    <!-- sign up page start-->
    <div class="authentication-main">
      <div class="row">
        <div class="col-sm-12 p-0">
          <div class="auth-innerright">
            <div class="authentication-box">
           
           
              <div class="card mt-4 p-4">
                <h4 class="text-center">Add Role</h4>
              
                 
                  <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="col-form-label">Add Role Name</label>
                            <input class="form-control" [(ngModel)]=name   type="email" placeholder="Add">
                          </div>
                          <div class="form-group text-center">
                            <button class="btn btn-primary" type="button" (click)='addRole()' *ngIf="!isUserClicked"  >Add</button>
                            <div class="loader text-center" *ngIf="isUserClicked">
                                <div class="line bg-primary"></div>
                                <div class="line bg-primary"></div>
                                <div class="line bg-primary"></div>
                                <div class="line bg-primary"></div>
                              </div>
                          </div>
                    </div>
                </div>
                 
                
                 
                  
                   
                  
               
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- sign up page ends-->
  </div>